---
  layout: default
---
{% assign first_name = site.data.identity.qasim.name | split:" " | first %}
<div class="qrt-content" id="qrt-scroll-content">
  <div class="qrt-half-content-frame">
    <div class="qrt-left">

      <div class="row">
        <div class="col-lg-6 col-md-12">

          <div class="qrt-about-me-cover">
            <img src="{{site.data.identity.qasim.profile_image}}" alt="About {{site.data.identity.qasim.name}}">
          </div>

        </div>
        <div class="col-lg-6 col-md-12 align-self-center">

          <div class="qrt-member-about">
            <h3 class="qrt-mb-5">{{site.data.identity.qasim.name}}</h3>
            <div class="qrt-el-suptitle">{{site.data.identity.qasim.occupation}}</div>

            <div class="qrt-divider"></div>

            <ul class="qrt-table">
              
              <li>
                <h5>City:</h5><span>{{site.data.identity.qasim.city}}</span>
              </li>
              <li>
                <h5>Education:</h5><span>{{site.data.identity.qasim.education}}</span>
              </li>
              <li>
                <h5>Email:</h5><span><a class="qrt-cursor-color" href="mailto:{{site.data.identity.qasim.email}}">{{site.data.identity.qasim.email}}</a></span>
              </li>
            </ul>

            <div class="qrt-divider"></div>

            <ul class="qrt-social-list">
              <li><a target="_blank" href="https://github.com/{{site.data.identity.qasim.github_username}}" class="qrt-cursor-scale qrt-cursor-color"><i class="fab fa-github"></i></a></li>
              <li><a target="_blank" href="https://instagram.com/{{site.data.identity.qasim.instagram_username}}" class="qrt-cursor-scale qrt-cursor-color"><i class="fab fa-instagram"></i></a></li>
              <li><a target="_blank" href="https://twitter.com/{{site.data.identity.qasim.twitter_username}}" class="qrt-cursor-scale qrt-cursor-color"><i class="fab fa-twitter"></i></a></li>
              <li><a target="_blank" href="https://linkedin.com/in/{{site.data.identity.qasim.linkedin_username}}" class="qrt-cursor-scale qrt-cursor-color"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">

          <h3 class="qrt-mb-20">About {{first_name}}</h3>

        </div>
        <div class="col-lg-12 qrt-mb-25">
          {{content}}
        </div>
        <!-- <div class="col-lg-12">

          <blockquote>
            Change is an opportunity! We want to lead people towards durable solutions and designs that enhance feelings of closeness, wellbeing and hopefully, happiness.
          </blockquote>

        </div> -->
      </div>

      <div class="qrt-divider"></div>

    </div>
    <div id="fixed" class="qrt-right">
      <div class="qrt-half-banner qrt-left-align qrt-animated-show">
        <div class="qrt-image-frame" style="filter: blur({{page.image_blur}})">
          <img src="{{page.image}}" alt="banner">
        </div>
        <div class="qrt-overlay">
          <!-- <div class="qrt-scroll-hint">
            <span></span>
          </div> -->
          <div class="qrt-banner-title">
            <h2 class="qrt-white qrt-mb-10">{{first_name}}</h2>
            <div class="qrt-divider-2"></div>
            <div class="qrt-text qrt-white qrt-mb-20">{{page.subheading}}</div>
            <a href="contact.html" class="qrt-btn qrt-btn-md qrt-btn-color qrt-anima-link"><span>@ Say Hello!</span></a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>